h1 {
  text-align: center;
}

#container {
  display: block;
}
.leftDiv,
.rightDiv {
  width: 45%;
  vertical-align: top;
  display: inline-block;
}

.lastDiv {
  margin-top: 60%;
  width: 100%;
}

h3 {
  font-weight: 500;
}

/* Apply a 1px solid red border with a 15px border-radius to the ordered list and its' title. */
ol {
  list-style: decimal inside;
  border-radius: 15px;
  border: 1px solid red;
  font-weight: 300;
  padding: 10px;
  list-style-position: inside;
}

/* 1px dashed red border with a 15px border-radius to the unordered list and its title */
ul {
  list-style: upper-roman inside;
  border: 1px dashed red;
  list-style-position: inside;
  padding: 10px;
  border-radius: 15px;
}

/* show the underlines when a cursor hovers over the links */
a:hover {
  text-decoration: underline;
}

/* float right and a margin-bottom of 20px */
.lastDiv a {
  float: right;
  margin-bottom: 20px;
}
